-#.primary
-#  .primary
-#    %h2 Most fucks given to these images
-#  .secondary
-#    %h2 Most fucks given to these wtfornots
-#.secondary
-#  %h2 Most fucks given to these users
=  javascript_include_tag 'hailwtfornots'
.box
  %h2 Most fucks given to these images
  %p
    #paginator
      = paginate @images,:remote => true

    - @images.each do |i|
      = image_tag i.file.url(:medium), :class => 'medium2'
.bottom

.box
  %h2 Most fucks given to these wtfornots
  %p
    .paginate
      =paginate @hailwtfornots

.bottom

.box
  %h2 Most fucks given to these users
  %p
    .paginate
      =paginate @users

.bottom
