/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


* {
    margin: 0;
}
body {
  text-align: center;
  background-color: #ccc;
}

html, body {
    height: 100%;
}

.wrapper {
  /*margin: 0 auto;
  text-align: left;
  width: 90%;
  margin-top: 3%;
  max-width: 125em;
  min-width: 62em;
  overflow: hidden;
  position: relative;*/
  text-align: left;
  max-width: 125em;
  min-width: 62em;
  overflow: hidden;
  margin-top: 3%;
  width: 90%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -1em;
}

.footer, .push {
  height: 4em;
  clear: both;
}

.box {
  width: 28%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 520px;
  margin-left: 20px;
  /*margin-bottom: 10%;*/
  float: left;
  display: inline;
  padding: 20px;
  background: #FF9900;
  height: 150%;
  border:1px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -webkit-box-shadow:1px 1px 5px #999;
  -moz-box-shadow:1px 1px 5px #999;
  h2 {
    text-align: center;
    margin-bottom: 5%;
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 290px;
  margin-left: -20px;
}

.heading {
  text-align: left;
  font-size: 25px;
  margin-top: 2%;
  margin-bottom: 2%;
}

a {
  text-decoration: none;
}

a:hover{
  background-color: #ff9900;
}

.left {
  width: 45%;
  margin-left: 7%;
  float: left;
}

.right {
  width: 45%;
  float: right;
  margin-right: -6%;
}

.medium {
  height: 400px;
  width: 400px;
  /*border-width: 5px;
  border-style: solid;*/
}

.medium2 {
  height: 150px;
  width: 150px;
  /*border-width: 5px;
  border-style: solid;*/
  margin-left: 4%;
  margin-top: 2%;
}

.medium3 {
  height: 100px;
  width: 100px;
  /*border-width: 5px;
  border-style: solid;*/
}

img {
  border:5px solid #ccc;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -webkit-box-shadow:1px 1px 5px #999;
  -moz-box-shadow:1px 1px 5px #999;
}

/*.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
/*  background:#ccc;
}*/

.paginate{
  margin-bottom: 5%;
}

.medium-font {
  font-size: 20px;
}

.user {
  float: right;
  p {
    display: inline;
  }
}

.tracker {
  a {
    display: none;
  }
}

