/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  text-align: left;
  width: 90%;
  margin-top: 2%;
  max-width: 125em;
  min-width: 62em;
  overflow: hidden;
  position: relative;
}

.box {
  width: 28%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 520px;
  margin-bottom: 500px;
  margin-left: 20px;
  float: left;
  display: inline;
  padding: 20px;
  background: #89ac10
}

.bottom {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 290px;
  margin-left: -20px;
}

.heading {
  text-align: center;
  font-size: 25px;
}

a {
  text-decoration: none;
}

.left {
  width: 45%;
  margin-left: 6%;
  float: left;
}

.right {
  width: 45%;
  float: right;
  margin-right: -5%;
}

.medium {
  height: 400px;
  width: 400px;
  border-width: 5px;
  border-style: solid;
}

.medium2 {
  height: 150px;
  width: 150px;
  border-width: 5px;
  border-style: solid;
  margin-left: 22%;
  margin-top: 2%;
}

