/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
}

.heading {
  text-align: center;
  font-size: 40px;
}

a {
  text-decoration: none;
}

.left {
  width: 45%;
  margin-left: 6%;
  float: left;
}

.right {
  width: 45%;
  float: right;
  margin-right: -5%;
}

img {
  height: 400px;
  width: 400px;
  border-width: 5px;
  border-style: solid;
}

