// Place all the styles related to the Hailwtfornots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.details {
  text-align: center;
}

.vs {
  float: right;
  margin-top: 10%;
}

.vs-index {
  float: right;
  margin-top: -50%;
}

.image-with-points {
  img {
    float: left;
  }
  p {
    float: right;
    margin-right: 10%;
    margin-top: 5%;
  }
}

.wtfornot {
  height: 160px;
}

.user-with-image {
  height: 110px;
  font-size: 20px;
}

.wtfornot, .user-with-image {
  margin-bottom: 10%;
  .left {
    float: left;
    margin-left: 8%;
  }
  .right {
    float: right;
    margin-right: -8%;
  }
  p {
    margin-bottom: 5%;
  }
}

.image-with-points {
  height: 170px;
  margin-bottom: 10%;
}

/*doing this in js to get it working in firefox*/
/*.content .box .wtfornot:hover {
  background-color:#ccc;
  cursor: hand;
  cursor: pointer;
}*/

.show img:hover {
  border:5px solid #ff9900;
}

.center {
  text-align: center; 
}

.buttonTo {
  background: #F90;
  width: 400px;
  height: 100px;
  font-size: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -webkit-box-shadow:1px 1px 5px #999;
  -moz-box-shadow:1px 1px 5px #999;
}

.buttonToSmall {
  background: #ccc;
  width: 200px;
  height: 50px;
  font-size: 15px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 22%;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -webkit-box-shadow:1px 1px 5px #999;
  -moz-box-shadow:1px 1px 5px #999;
}

form{
  font-size: 30px;
  .form-padding {
    padding: 3%;
  }
  .title {
    input {
      height: 75px;
      width: 500px;
      font-size: 40px;
    }
  }
  .image{
    width: 50%;
    height: 30%;
    margin-left: 23%;
    margin-bottom: 3%;
    border:5px solid #ff9900;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-box-shadow:1px 1px 5px #999;
    -moz-box-shadow:1px 1px 5px #999;
    input {
      height: 60px;
      width: 400px;
      margin-top: 3%;
      font-size: 30px;
    }
    .select-file {
      margin-left: 30%; 
    }
  }
}

.how-strip {
  font: 22px/14px sans-serif;
  text-align: center;
  /*font-size: 25px;*/
  margin-left: 4%;
  margin-bottom: 2%;
  -moz-font-size: 18px;
  a {
    margin-right: 3%;
  }
}

.own {
  background: red;
}

.red {
  color: red;
}
